{{#main-container}}
    {{#main-container-head}}
        {{#main-container-slab}}
            {{#link-to 'dashboard'}} 首页 {{/link-to}} > 登录日志
        {{/main-container-slab}}

        {{#main-container-tool}}
            {{input-group4search on-search=(action 'doSearch')}}
        {{/main-container-tool}}
    {{/main-container-head}}

    {{#main-container-body}}
        <table class="lb-table">
            <thead>
                <tr>
                    <th class="lb-table-seq"></th>
                    <th>用户</th>
                    <th>系统</th>
                    <th>时间</th>
                    <th>结果</th>
                </tr>
            </thead>
            <tbody>
                {{#each model as |loginLog index|}}
                    <tr class="data-row">
                        <td class="lb-table-seq">{{index-of-table-item limit page index}}</td>
                        <td>{{loginLog.userName}}</td>
                        <td>{{loginLog.systemName}}</td>
                        <td>{{moment-format loginLog.time 'YYYY-MM-DD HH:mm:ss'}}</td>
                        <td>{{{boolean-to-success loginLog.result}}}</td>
                    </tr>
                {{else}}
                <tr>
                    <td colspan="5">无数据</td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="5" class="lb-table-pager-container">
                        {{table-pager limitList=limitList total=total page-change=(action gotoPage) limit-change="setLimit"}}
                    </td>
                </tr>
            </tbody>
        </table>
    {{/main-container-body}}
{{/main-container}}